body{
    background-color: rgb(191, 194, 248);
}

h1{
  color: #9e59a5;
  margin-bottom: 50px;
}
.circle{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(
    #9e59a5 0deg var(--angle, 0deg),
    transparent var(--angle, 0deg) 360deg
  );
}

.external-border{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #9e59a5;
  box-sizing: border-box;
}

.internal-border{
  width: 280px;
  height: 280px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #9e59a5;
  box-sizing: border-box;
}


   
.inner-circle {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: rgb(191, 194, 248);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2em;
  color: white;
}

.digit-input{
  width: 0.7em;
  text-align: center;
  border: none;
  background: transparent;
  color:inherit;
  font: inherit;
  padding: 0;
  outline: none;
}

#startbtn{
    width: 130px;
    height: 50px;
    margin: 10px;
    background-color:rgb(191, 194, 248);
    color: #9e59a5;
    border: 3px solid #9e59a5;
    border-radius: 10px;
    font-size: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#pausebtn, #resetbtn{
  width: 130px;
  height: 50px;
  margin: 10px;
  background-color:rgb(191, 194, 248);
  color: #9e59a5;
  border: 3px solid #9e59a5;
  border-radius: 10px;
  font-size: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
